.header {
  background-image: url("../images/first-screen-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 993px;
  overflow: hidden;
  position: relative;
}

.header-top-bg {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 51%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  margin-top: 30px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px;
  width: 1170px;
}

nav.menu ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

nav.menu ul li a {
  color: #262A3F;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
  text-decoration: none;
}

.logo {
  width: 170px;
  height: 32px;
}

.header-content {
  width: 523px;
  margin: 150px 0 0 135px;
}

.header-content h1 {
  color: #262A3F;
  font-size: 44px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 52px;
}

.header-content h1 span {
  color: #85BBB1;
  font-size: 44px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 52px;
}

.header-content p {
  width: 439px;
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
}

.join-now-head-btn {
  position: relative;
}

.join-now-head-btn a {
  text-decoration: none;
  color: #F1897B;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.join-now:before {
  content: "";
  position: absolute;
  width: 112px;
  height: 13px;
  opacity: 0.3;
  background: #F1897B;
  bottom: 0;
  left: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.custom-hr-footer {
  border: 0;
  border-top: 1px solid #E4E4E4;
  outline-offset: -0.5px;
  margin-top: 100px;
}

.footer-rights-reserved {
  opacity: 0.6;
  color: #262A3F;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
}

.made-by {
  opacity: 0.6;
  color: #262A3F;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
}

.made-by a {
  color: #262A3F;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
  text-decoration: none;
}

.agreement {
  display: flex;
  gap: 32px;
}

.agreement li {
  list-style-type: none;
}

.agreement li a {
  text-decoration: none;
  color: #262A3F;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* section-info */
.main {
  width: 1170px;
  margin: 0 auto;
  border: 1px solid red;
}

.section-info {
  display: flex;
  align-items: center;
  margin-top: -280px;
}

.section-info-img {
  z-index: 1;
}

.info-right {
  display: flex;
  max-width: 770px;
  height: 580px;
  left: 400px;
  opacity: 0.9;
  background: white;
  margin-left: -100px;
  z-index: 1;
}

.info-list {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info-text {
  width: 400px;
}

.divider::after {
  content: "";
  display: block;
  width: 100px;
  border: 1px #85BBB1 solid;
  margin: 0 auto;
}

.currency {
  text-align: center;
  color: #E4E4E4;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 50px;
}

.amount {
  text-align: center;
  color: #262A3F;
  font-size: 68px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 72px;
}

.description {
  opacity: 0.8;
  text-align: center;
  color: #262A3F;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
}

.info-text p {
  margin-top: 45px;
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
}

.contact-sales-btn {
  position: relative;
}

.contact-sales-btn a {
  text-decoration: none;
  color: #F1897B;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.contact-sales:before {
  content: "";
  position: absolute;
  width: 172px;
  height: 13px;
  opacity: 0.3;
  background: #F1897B;
  bottom: 0;
  left: 10px;
}

/* END section-info */
/* section-benefits */
.section-benefits {
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 120px;
}

.section-benefits-item {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  max-width: 570px;
  height: 250px;
  padding: 50px 35px 52px 35px;
  position: relative;
}

.section-benefits-title {
  color: #262A3F;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}

.highlight {
  color: #85BBB1;
  font-size: 40px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}

.section-benefits-description {
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
}

.section-benefits-item-divider {
  width: 570px;
  position: absolute;
  border: 0;
  border-top: 1px solid #E4E4E4;
  top: 0;
  left: -15px;
}

/* END section-benefits */
/* section-quote */
.quote-background {
  background-image: url("../images/quote-background.svg");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: #fff;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-quote {
  position: relative;
}

.quote-icon {
  position: absolute;
  left: 100px;
  top: 70px;
}

.section-quote-text {
  position: relative;
}

.section-quote-description {
  position: absolute;
  width: 710px;
  height: 140px;
  color: white;
  font-size: 32px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1.28px;
  top: 100px;
  left: 160px;
  margin: 0;
}

.author-quote {
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
  margin-top: 40px;
  top: 280px;
  left: 160px;
}

/* END section-quote */
/* section-video */
.table {
  width: 970px;
  height: 601px;
  border-radius: 32px;
  border: 1px #E4E4E4 solid;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}

.video-player::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 9999px;
  border: 1px #E4E4E4 solid;
  top: 50%;
  left: 1%;
}

.video-player::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  border: 1px #E4E4E4 solid;
  top: 50%;
  right: 0;
  margin-right: 14px;
}

.video-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.screensaver-video {
  margin-left: 30px;
  margin-right: 70px;
}

.play-button {
  position: absolute;
  width: 120px;
  height: 120px;
  opacity: 0.3;
  background: #586291;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button img {
  width: 41px;
}

.feature-text {
  max-width: 970px;
  width: 90%;
  margin: 0 auto;
}

.api-title {
  color: #262A3F;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 48px;
}

.api-title-highlight {
  color: #85BBB1;
  font-size: 40px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}

.api-description {
  max-width: 897px;
  width: 90%;
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
}

/* END section-video */
/* section-promises */
.section-promises {
  margin-top: 120px;
  display: flex;
  align-items: center;
}

.promises-list {
  display: flex;
  max-width: 770px;
  width: 90%;
  height: 450px;
  opacity: 0.9;
  background: white;
  margin-left: -201px;
  align-items: center;
  justify-content: end;
  gap: 100px;
}

.item-1 h2,
.item-2 h2,
.item-3 h2 {
  color: #262A3F;
  font-size: 24px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}

.item-1-description {
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.promises-list-items {
  display: flex;
}

.item-left {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 300px;
}

.item-right {
  display: flex;
  flex-direction: column;
  gap: 83px;
}

.join-now-btn {
  position: relative;
  width: 300px;
  height: 90px;
  outline: 1px #E4E4E4 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  text-decoration: none;
  color: #F1897B;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.join-now-btn::after {
  content: "";
  position: absolute;
  width: 112px;
  height: 13px;
  opacity: 0.3;
  background: #F1897B;
  top: 44px;
  left: 99px;
}

/* END section-promises */
/* section-reviews */
.section-reviews-title {
  color: #262A3F;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 48px;
}

.section-reviews-title span {
  color: #85BBB1;
  font-size: 40px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}

p.section-reviews-description {
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.reviews {
  display: flex;
  gap: 30px;
}

.client-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/client-review-bg-1.png");
  max-width: 370px;
  width: 100%;
  min-height: 340px;
}

.client-review p {
  opacity: 0.8;
  color: white;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 26px;
  padding: 30px 40px 26px 40px;
  margin: 0;
}

.client-review span {
  color: white;
  font-size: 20px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
  margin: 0 0 30px 40px;
}

/* END section-reviews */    
/* section-contact */
.section-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.custom-hr {
  border: 0;
  border-top: 1px solid #E4E4E4;
  outline-offset: -0.5px;
  margin-top: 100px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  max-width: 470px;
  width: 90%;
}

p.contact-us-title {
  color: #262A3F;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 39px;
  margin: 21px 0;
}

.contact-us-title span {
  color: #85BBB1;
  font-size: 40px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 39px;
}

.contact-us-description {
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
  line-height: 1.6;
}

.contact-form > input[type=text]::-moz-placeholder, .contact-form > input[type=email]::-moz-placeholder {
  opacity: 0.5;
  color: #262A3F;
  font-size: 18px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.44px;
}

.contact-form > input[type=text]::placeholder,
.contact-form > input[type=email]::placeholder {
  opacity: 0.5;
  color: #262A3F;
  font-size: 18px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.44px;
}

.contact-form-btn {
  position: relative;
}

.send-request-btn {
  color: #F1897B;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-decoration: none;
}

.send-request-btn:before {
  content: "";
  position: absolute;
  width: 163px;
  height: 13px;
  opacity: 0.3;
  background: #F1897B;
  margin: 11px 7px 4px 10px;
}

/* END section-contact *//*# sourceMappingURL=style.css.map */