.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.header {
  background-image: url("../images/first-screen-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 993px;
  overflow: hidden;
  position: relative;
}

.header-top-bg {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 51%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  margin-top: 30px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px;
  width: 1170px;
}

nav.menu ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

nav.menu ul li a {
  color: #262A3F;
  font-size: 14px;
  font-family: Lato;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
  text-decoration: none;
}

.logo {
  width: 170px;
  height: 32px;
}

.header-content {
  width: 523px;
  margin: 150px 0 0 135px;
}

.header-content h1 {
  color: #262A3F;
  font-size: 44px;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 52px;
}

.header-content h1 span {
  color: #85BBB1;
  font-size: 44px;
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 400;
  line-height: 52px;
}

.header-content p {
  width: 439px;
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
}

.join-now-btn {
  position: relative;
}

.join-now-btn a {
  text-decoration: none;
  color: #F1897B;
  font-size: 20px;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.join-now:before {
  content: "";
  position: absolute;
  width: 112px;
  height: 13px;
  opacity: 0.3;
  background: #F1897B;
  bottom: 0;
  left: 10px;
}

/* section-info */
.main {
  width: 1170px;
  margin: 0 auto;
}

.section-info {
  display: flex;
  align-items: center;
  margin-top: -280px;
}

.section-info-img {
  z-index: 1;
}

.info-right {
  display: flex;
  max-width: 770px;
  height: 580px;
  left: 400px;
  opacity: 0.9;
  background: white;
  margin-left: -100px;
  z-index: 1;
}

.info-list {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info-text {
  width: 400px;
}

.divider::after {
  content: "";
  display: block;
  width: 100px;
  border: 1px #85BBB1 solid;
  margin: 0 auto;
}

.currency {
  text-align: center;
  color: #E4E4E4;
  font-size: 40px;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 50px;
}

.amount {
  text-align: center;
  color: #262A3F;
  font-size: 68px;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 72px;
}

.description {
  opacity: 0.8;
  text-align: center;
  color: #262A3F;
  font-size: 18px;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
}

.info-text p {
  margin-top: 45px;
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
}

.contact-sales-btn {
  position: relative;
}

.contact-sales-btn a {
  text-decoration: none;
  color: #F1897B;
  font-size: 20px;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.contact-sales:before {
  content: "";
  position: absolute;
  width: 172px;
  height: 13px;
  opacity: 0.3;
  background: #F1897B;
  bottom: 0;
  left: 10px;
}

/* END section-info */
/* section-benefits */
.section-benefits {
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 120px;
}

.section-benefits-item {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  max-width: 570px;
  height: 250px;
  padding: 50px 35px 52px 35px;
  position: relative;
}

.section-benefits-title {
  color: #262A3F;
  font-size: 40px;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}

.highlight {
  color: #85BBB1;
  font-size: 40px;
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}

.section-benefits-description {
  opacity: 0.8;
  color: #262A3F;
  font-size: 18px;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
}

.section-benefits-item-divider {
  position: absolute;
  display: block;
  width: 570px;
  height: 0px;
  border: 1px #E4E4E4 solid;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

/* END section-benefits */
/* section-quote */
.quote-background {
  background-image: url("../images/quote-background.svg");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: #fff;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-quote {
  position: relative;
}

.quote-icon {
  position: absolute;
  left: 100px;
  top: 70px;
}

.section-quote-text {
  position: relative;
}

.section-quote-description {
  position: absolute;
  width: 710px;
  height: 140px;
  color: white;
  font-size: 32px;
  font-family: Lato;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1.28px;
  top: 100px;
  left: 160px;
  margin: 0;
}

.author-quote {
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
  margin-top: 40px;
  top: 280px;
  left: 160px;
}

/* END section-quote */
/* section-video */
.section-video {
  width: 970px;
  height: 601px;
  border-radius: 32px;
  border: 1px #E4E4E4 solid;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}

.section-video::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 9999px;
  border: 1px red solid;
  top: 50%;
}

/* END section-video *//*# sourceMappingURL=style.css.map */