:root {
  --bg: white;
  --secondary-font: 'Lato';
  --title-font: 'Playfair Display';
  --link-color: #262A3F;
  --currency-color: #E4E4E4;
  --bg-header: url("../images/bg-light.jpg");
  --color-url-forms: #F1897B;
  --span-highlight: #85BBB1;
  --section-info-right: white;
  --color-contact-sales: #F1897B;
  --color-divider: #E4E4E4;
  --icon-quote: url("../images/quote-icon-light.svg");
  --tablet-border-color: #E4E4E4;
  --play-bg-btn: rgba(88, 98, 145, 0.3);
  --play-icon: #262A3F;
  --promises-list-bg: white;
  --join-now-btn-border-color: #E4E4E4;
  --contact-form-hr-color: #E4E4E4;
  --contact-form-color-border: rgba(38, 42, 63, 0.1);
}

:root[data-theme-name="dark"] {
  --bg: #161926;
  --bg-header: url("../images/bg-dark.jpg");
  --link-color: white;
  --color-url-forms: #53F3CD;
  --span-highlight: #689FF2;
  --section-info-right: #161926;
  --color-contact-sales: #53F3CD;
  --color-divider: #515773;
  --icon-quote: url("../images/quote-icon-dark.svg");
  --tablet-border-color: #515773;
  --play-bg-btn: rgba(104, 159, 242, 0.3);
  --play-icon: #689FF2;
  --promises-list-bg: #161926;
  --join-now-btn-border-color: #515773;
  --contact-form-hr-color: #515773;
  --contact-form-color-border: rgba(255, 255, 255, 0.1);
}

.icon-dark {
  display: block;
}

.icon-light {
  display: none;
}


:root[data-theme-name="dark"] .icon-dark {
  display: none;
}

:root[data-theme-name="dark"] .icon-light {
  display: block;
}

.theme-button {
  border: none;
  background: none;
  cursor: pointer;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем маркеры у списков */
ul, ol {
  list-style: none;
}

/* Обнуляем стили ссылок */
a {
  text-decoration: none;
  color: inherit;
}

.container {
  background: var(--bg);
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  
}

.header {
  background-image: var(--bg-header);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 993px;
  overflow: hidden;
  position: relative;
  background-size: cover;
}

.header-top-bg {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 51%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  margin-top: 30px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px;
  max-width: 1170px;
  width: 90%;
}

nav.menu ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

nav.menu ul li a {
  color: var(--link-color);
  font-size: 0.875rem;
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
  /* text-decoration: none; */
}

.logo {
  width: 170px;
  height: 32px;
}

.header-content {
  max-width: 523px;
  width: 90%;
  margin: 150px 0 0 135px;
}

.header-content h1 {
  color: var(--link-color);
  font-size: 44px;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 52px;
}

.header-content h1 span {
  color: var(--span-highlight);
  font-size: 44px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 52px;
}

.header-content p {
  max-width: 439px;
  width: 90%;
  opacity: 0.8;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
  overflow-wrap: break-word;
}

.icon {
  width: 1em;
  height: 1em;
}

.burger {
  display: none;
}

.join-now-head-btn {
  position: relative;
}

.join-now-head-btn a {
  color: var(--color-url-forms);
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.join-now:before {
  content: "";
  position: absolute;
  width: 112px;
  height: 13px;
  opacity: 0.3;
  background: var(--color-url-forms);
  bottom: 0;
  left: 10px;
}

.footer {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.custom-hr-footer {
  border: 0;
  border-top: 1px solid var(--contact-form-hr-color);
  outline-offset: -0.5px;
  margin-top: 100px;
}

.footer-rights-reserved {
  opacity: 0.6;
  color: var(--link-color);
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
}

.made-by {
  opacity: 0.6;
  color: var(--link-color);
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
}

.made-by a {
  color: var(--link-color);
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
}

.agreement {
  display: flex;
  gap: 32px;
}

/* .agreement li {
  list-style-type: none;
} */

.agreement li a {
  color: var(--link-color);
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
}



/* section-info */
.main {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

.section-info {
  display: flex;
  align-items: center;
  margin-top: -280px;
  position: relative;
}

.section-info-img {
  max-width: 570px;
  width: 100%;
  z-index: 1;
  
}

.info-right {
  display: flex;
  max-width: 770px;
  height: 580px;
  left: 400px;
  opacity: 0.9;
  background: var(--section-info-right);
  /* margin-left: -172px; */
  z-index: 1;
  position: absolute;
  right: 0;
  border: 1px solid green
}

.info-list {
  max-width: 370px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item {
  width: 100%;
  text-align: center;
}

.info-text {
  width: 400px;
}

.divider::after {
  content: "";
  display: block;
  width: 100px;
  border: 1px #85BBB1 solid;
  margin: 0 auto;
  margin-top: 40px;
}

.currency {
  text-align: center;
  color: #E4E4E4;
  font-size: 40px;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 50px;
}

.amount {
  text-align: center;
  color: var(--link-color);
  font-size: 68px;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 72px;
}

.description {
  opacity: 0.8;
  text-align: center;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
}

.info-text p {
  margin-top: 45px;
  opacity: 0.8;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
}

.contact-sales {
  color: var(--color-contact-sales);
}

.contact-sales-btn {
  position: relative;
  margin-top: 50px;
}

.contact-sales-btn a {
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.contact-sales:before {
  content: "";
  position: absolute;
  width: 172px;
  height: 13px;
  opacity: 0.3;
  background: var(--color-contact-sales);
  bottom: 0;
  left: 10px;
}

/* END section-info */
/* section-benefits */
.section-benefits {
  min-height: 620px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 120px;
}

.section-benefits-item {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  max-width: 570px;
  width: 90%;
  height: 250px;
  padding: 50px 35px 52px 35px;
  position: relative;
}

.section-benefits-title {
  color: var(--link-color);
  font-size: 40px;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}

.highlight {
  color: var(--span-highlight);
  font-size: 40px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}

.section-benefits-description {
  opacity: 0.8;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
}

.section-benefits-item-divider {
  max-width: 570px;
  width: 90%;
  position: absolute;
  border: 0;
  border-top: 1px solid var(--color-divider);
  top: 0;
  left: -15px;
}

/* END section-benefits */
/* section-quote */
.quote-background {
  background-image: url("../images/quote-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: #fff;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-quote {
  position: relative;
}

.quote-icon {
  background-image: var(--icon-quote);
  width: 102px;
  height: 84px;
  position: absolute;
  left: 100px;
  top: 70px;
}

.section-quote-text {
  position: relative;
}

.section-quote-description {
  position: absolute;
  max-width: 710px;
  /* width: 90%; */
  height: 140px;
  color: white;
  font-size: 2rem; /* 32px */
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1.28px;
  top: 100px;
  left: 160px;
  text-align: left;
}

.author-quote {
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
  margin-top: 40px;
  top: 280px;
  left: 160px;
}

/* END section-quote */
/* section-video */
.table {
  max-width: 970px;
  width: 90%;
  /* height: 601px; */
  border-radius: 32px;
  border: 1px solid var(--tablet-border-color);
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}

.video-player::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 9999px;
  border: 1px solid var(--tablet-border-color);
  top: 50%;
  left: 1%;
}

.video-player::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  border: 1px solid var(--tablet-border-color);
  top: 50%;
  right: 0;
  margin-right: 14px;
}

.video-player {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  min-height: 601px;
}

.poster {
  /* padding-left: 30px; */
  max-width: 870px;
  width: 90%;
  object-fit: cover;
  /* background-image: url(../images/screensaver-video.png); */
  min-height: 539px;
  margin: 0 70px 0 30px;
  /* opacity: 0.20;  */
  border-radius: 8px;
}

.video {
  margin: 0 70px 0 30px;
}

/* .screensaver-video {
  margin-left: 30px;
  margin-right: 70px;
} */

.video-play-button {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: var(--play-bg-btn);
  /* opacity: 0.30; */
  /* background: #689FF2;  586291 */
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 42%;
}

.video-play-icon {
  color: var(--play-icon);
}



/* .play-button {
  position: absolute;
  width: 120px;
  height: 120px;
  opacity: 0.3;
  background: #586291;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .play-button img {
  width: 41px;
} */

.feature-text {
  max-width: 970px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.api-title {
  color: var(--link-color);
  font-size: 40px;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 48px;
}

/* .api-title-highlight {
  color: #85BBB1;
  font-size: 40px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
} */

.api-description {
  max-width: 897px;
  width: 90%;
  opacity: 0.8;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
}

/* END section-video */


/* section-promises */
.section-promises {
  margin-top: 120px;
  display: flex;
  align-items: center;
  position: relative;
}

.promises-img {
  max-width: 600px;
  width: 100%;
}

.promises-list {
  display: flex;
  max-width: 770px;
  width: 100%;
  max-height: 450px;
  opacity: 0.9;
  background: var(--promises-list-bg);
  /* margin-left: -201px; */
  align-items: center;
  justify-content: end;
  gap: 100px;
  position: absolute;
  right: 0;
  border: 1px solid blue;
  padding: 75px 0 75px 70px;
  box-sizing: border-box;
}

.item-1,
.item-2,
.item-3 {
  display: flex;
  flex-direction: column;
  min-height: 115px;
  justify-content: space-between;
}

.item-1 h2,
.item-2 h2,
.item-3 h2 {
  color: var(--link-color);
  font-size: 24px;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}

.item-1-description {
  opacity: 0.8;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.promises-list-items {
  display: flex;
}

.item-left {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 300px;
}

.item-right {
  display: flex;
  flex-direction: column;
  gap: 83px;
}

.join-now-btn {
  position: relative;
  width: 300px;
  height: 90px;
  outline: 1px solid var(--join-now-btn-border-color);
  outline-offset: -1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: var(--color-contact-sales);
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.join-now-btn::after {
  content: "";
  position: absolute;
  width: 112px;
  height: 13px;
  opacity: 0.3;
  background: var(--color-contact-sales);
  top: 44px;
  left: 99px;
}

/* END section-promises */
/* section-reviews */
.section-reviews-title {
  color: var(--link-color);
  font-size: 40px;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 48px;
  margin: 120px 0 20px 0;
}

/* .section-reviews-title span {
  color: #85BBB1;
  font-size: 40px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
} */

p.section-reviews-description {
  opacity: 0.8;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.reviews {
  display: flex;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}

.client-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 370px;
  width: 100%;
  min-height: 340px;
}

.review-1 {
  background-image: url("../images/client-review-bg-1.jpg");
}

.review-2 {
  background-image: url("../images/client-review-bg-2.jpg");
}

.review-3 {
  background-image: url("../images/client-review-bg-3.jpg");
}


.client-review p {
  opacity: 0.8;
  color: white;
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 26px;
  padding: 30px 40px 26px 40px;
  margin: 0;
}

.client-review span {
  color: white;
  font-size: 20px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.6px;
  margin: 0 0 30px 40px;
}

/* END section-reviews */    
/* section-contact */
.section-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.custom-hr {
  border: 0;
  border-top: 1px solid var(--contact-form-hr-color);
  outline-offset: -0.5px;
  margin-top: 100px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  max-width: 470px;
  width: 90%;
}

p.contact-us-title {
  color: var(--link-color);
  font-size: 40px;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 39px;
  margin: 21px 0;
}

/* .contact-us-title span {
  color: #85BBB1;
  font-size: 40px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 39px;
} */

.contact-us-description {
  opacity: 0.8;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid var(--contact-form-color-border);
  line-height: 1.6;
  background: #161926;
}

.contact-form > input[type=text]::-moz-placeholder, .contact-form > input[type=email]::-moz-placeholder {
  opacity: 0.5;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.44px;
}

.contact-form > input[type=text]::placeholder,
.contact-form > input[type=email]::placeholder {
  opacity: 0.5;
  color: var(--link-color);
  font-size: 18px;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.44px;
}

.contact-form-btn {
  position: relative;
}

.send-request-btn {
  color: var(--color-contact-sales);
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.send-request-btn:before {
  content: "";
  position: absolute;
  width: 163px;
  height: 13px;
  opacity: 0.3;
  background: var(--color-contact-sales);
  margin: 11px 7px 4px 10px;
}

/* END section-contact *//*# sourceMappingURL=style.css.map */


/* Media */

@media (min-width: 1280px) and (max-width: 1439px) {

}

@media (min-width: 1024px) and (max-width: 1279px) {
  /* .info-right {
    margin-left: -420px;
  } */

  /* .promises-list {
    margin-left: -450px;
  } */
}

@media (min-width: 768px) and (max-width: 1023px) {
  .info-right {
    left: 0;
  }

  .section-benefits-item {
    flex: none;
  }

  .section-quote-description {
    left: 130px;
  }

  .video-player {
    min-height: auto;
  }

  nav.menu ul li a {
    color: var(--link-color);
    font-size: 0.6rem;
  }

  .promises-list {
    gap: 0;
  }

  .section-reviews {
    margin-bottom: 25px;
  }

  .reviews {
    margin-top: 25px;
  }

  .section-contact {
    flex-direction: column;
    margin: 0 15px;
  }

  .contact-form {
    margin-top: 50px;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .header-content {
    margin: 0 auto;
  }

  .info-right {
    left: 0;
  }

  .section-benefits {
    margin-top: 170px;
  }

  .amount {
    font-size: 3rem;
  }

  .info-list {
    justify-content: center;
  }

  .info-text p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
      overflow: hidden;
  }

  .contact-sales-btn {
    margin-top: 25px;
  }

  .section-quote-description {
    left: 10px;
    font-size: 1.5rem;
  }

  .author-quote {
    left: auto;
  }

  .video-player {
    min-height: auto;
  }

  .video-player::before {
    width: 25px;
    height: 25px;
    right: -8px;
  }

  .play {
    width: 60px;
    height: 60px;
  }

  .play svg {
      width: 20px;
  }

  .reviews {
    flex-direction: column;
    align-items: center;
  }

  /* Burger Menu */

  .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }

  .burger span {
    width: 100%;
    height: 3px;
    background: black;
    transition: 0.3s;
  }

  nav.menu ul {
    flex-direction: column;
  }

  .menu ul {
    /* background: silver; */
    /* transform: translate(-50%, -50%); */
    background-color: salmon;
    transition: all 0.5s;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    background: white;
    transition: 0.3s;
  }

  .menu.open {
    left: 0;
  }

  .burger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* END Burger Menu */

  .section-promises {
    justify-content: center;
  }

  .item-left {
    display: none;
  }

  .promises-list {
    justify-content: center;
    right: auto;
  }

  .section-benefits-item {
    flex: none;
  }

  .section-reviews-title {
    margin-top: 50px;
  }
  
  .section-reviews p:nth-child(3) {
    margin-bottom: 50px;
  }

  .section-contact {
    flex-direction: column;
    margin: 0 15px;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
    
  /* Burger Menu */

  .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }

  .burger span {
    width: 100%;
    height: 3px;
    background: black;
    transition: 0.3s;
  }

  nav.menu ul {
    flex-direction: column;
  }

  .menu ul {
    /* background: silver; */
    /* transform: translate(-50%, -50%); */
    background-color: salmon;
    transition: all 0.5s;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    background: white;
    transition: 0.3s;
  }

  .menu.open {
    left: 0;
  }

  .burger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* END Burger Menu */

  .header-content {
    margin: 0 auto;
  }

  .info-list {
    display: none;
  }

  .info-right {
    left: 0;
    /* width: 200px; Ограничиваем ширину */
    /* white-space: nowrap; Запрещаем перенос строк */
    /* overflow: hidden; Скрываем лишний текст */
    /* text-overflow: ellipsis; Добавляем многоточие */
    /* max-height: 336px; */
    /* overflow: hidden; Скрытие лишнего текста */
    /* display: -webkit-box; Включаем флексбокс для ограничения строк */
    /* -webkit-line-clamp: 5; Ограничение количества строк */
    /* -webkit-box-orient: vertical; Вертикальная ориентация */
  }

  .info-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Ограничение до 3 строк */
    overflow: hidden;
  }

  .contact-sales-btn {
    margin-top: 35px;
  }

  .reviews {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .section-contact {
    flex-direction: column;
    margin: 0 15px;
  }

  .promises-list {
    justify-content: center;
    right: auto;
  }

  .item-left {
    display: none;
  }

  .promises-list {
    opacity: 0.7;
  }

  li.item-3 {
    margin: 0 auto;
  }

  .section-reviews-title {
    margin-top: 50px;
  }
  
  .section-reviews p:nth-child(3) {
    margin-bottom: 50px;
  }

  .api-title,
  .api-title-highlight {
    font-size: 28px;
  }


  .video-player {
    min-height: auto;
  }

  .video-player::after {
    top: auto;
  }

  .video-player::before {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    top: auto;
  }

  .play {
    width: 60px;
    height: 60px;
  }

  .play svg {
      width: 20px;
  }

  .table {
    margin-top: 60px;
  }

  .section-quote-description {
    left: 10px;
    font-size: 1rem;
    line-height: 28px;
  }

  .author-quote {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.6px;
    bottom: 55px;
  }

  .author-quote {
    left: auto;
  }

  .section-benefits-title,
  .highlight {
    font-size: 28px;
  }

  .section-benefits li:nth-child(1) p:nth-child(3),
  .section-benefits li:nth-child(3) p:nth-child(3),
  .section-benefits li:nth-child(4) p:nth-child(3) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Ограничение до 3 строк */
    overflow: hidden;
  }

  .section-benefits-item {
    padding-top: 25px;
  }

  .section-quote {
    margin-top: 35px;
  }

}